<template>
    <lightning-card if:true={isLoaded} title="Export Ticket as CSV" icon-name="custom:custom63">
        
        <p if:true={showSpinner}>
            <lightning-spinner
                alternative-text="Loading...">
            </lightning-spinner>
        </p>

        <div if:false={showSpinner} class="slds-p-around_medium lgc-bg-inverse">
            <div class="slds-grid slds-gutters">
                <div class="slds-col">
                    <lightning-input type="date" name="startDate" label="Start Date" onchange={handleChange}></lightning-input>
                </div>
                <div class="slds-col">
                    <lightning-input type="date" name="endDate" label="End Date" onchange={handleChange}></lightning-input>
                </div>
                <div class="slds-col">
                    <!-- <lightning-combobox
                        name="caseStatus"
                        label="Status"
                        value={caseStatus}
                        placeholder="Select Case Status"
                        options={options}
                        onchange={handleChange} 
                    ></lightning-combobox> -->
                    <template if:true={caseStatusPicklist}>
                        <lightning-combobox name="caseStatus" label="Status" value={caseStatus} placeholder="Select Case Status" options={caseStatusPicklist.values} onchange={handleChange}></lightning-combobox>
                    </template>
                </div>
                <div class="slds-col slds-align-bottom">
                    <lightning-button icon-name="utility:download" 
                                    label="Download as CSV" 
                                    title="Download CSV File"
                                    onclick={downloadCSVFile} variant="brand" disabled={isButtonDisabled}
                    ></lightning-button>
                </div>
            </div>

        </div>

    </lightning-card>
</template>